* {
    margin: 0;
    padding: 0;
}

/* common styles */

.product-flex {
    display: flex;
    gap: 24px;
    justify-content: space-between;

}

.title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.subtitle {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}

.desc {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
}

.cmn-btn {

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 24px;
    background-color: rgba(255, 0, 0, 1);
    border: none;
    padding: 15px 35px;
    border-radius: 10px;

}

.org-color {
    color: #F00;
}

.mw-font {
    font-family: 'Merriweather', serif;
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

/* header banner styles */

.banner {
    max-width: 1320px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    margin-top: 50px;

}

.banner-shadow {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00)100%);
    border-radius: 16px;
}

.banner-heading {
    text-align: center;
    padding: 177px 0;
}

.banner-heading h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-heading h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 0 344px;

}

.off-section {
    text-align: center;
    margin-top: 120px;
}

.off-section h1 {
    font-size: 88px;
    font-style: normal;
    font-weight: 700;

}

.off-section p {
    font-size: 24px;
    margin-top: 48px;
}

.off-section h4 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.off-section img {
    margin-top: 48px;
}

/* party section */

.party {
    max-width: 1320px;
    background-image: url(/resources/Vectorrr.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;

}

.party-shadow {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 600px;
    display: flex;
    padding: 0 126px;
    align-items: center;
}

.party h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;

}

.party p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

/* Date section styles */
.date-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 120px;
    padding: 100px 0;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
}

/* best offer section styles */

.bo-section {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}


.best-desc {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
}

.best-img-div {
    padding-left: 70px;
    padding-right: 70px;
}

.best-img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49.8px;
    width: 364.844px;
    height: 364.844px;

}

.best-new-year h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.best-new-year img {
    margin-top: 16px;
}

/* Functional Section Styles */
.functional-section {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 120px;
    
}

.functional-section h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.functional-section h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
}

.functional-banner-section{
    margin-top: 64px;
    position: relative;
    height: 665px;
}
.girl{
    position: absolute;
    right: 0;
    top: 0;
}
.discount{
    position: absolute;
    top: 20%;
    right: 65%;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}
.gift-box{
    position: absolute;
}
/* Gift section */
.gift-section {
    margin-top: 120px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.product-section {
    margin-top: 48px;
}

.product-img {
    transform: scale(1);
    transition: transform .4s;
}

.product-img:hover {
    transform: scale(1.07);
}

/* Form section styles */
.form-section {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
}

.form-input[type="text"]{
    padding: 25px 85px 25px 35px;
    background: #FFF;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px 0 0 50px;
    outline: none;
    
    
}

.form-button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 24px 56px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    outline: none;
    
}
.input{
   
   margin-top: 48px;
   display: inline-block;
   
   
}

/* footer styles */
footer{
    background: #070211;;
}
.footer-container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
.footer-text{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
align-items: center;

}
.footer{
    
    padding: 120px 0px;
    display: flex;
    justify-content: space-between;
}
.icons{
    text-align: center;
    display: flex;
    gap: 24px;
    justify-content: center;
    border-top:0.5px solid rgba(255, 255, 255, 0.15); ;
    border-bottom:0.5px solid rgba(255, 255, 255, 0.15); ;
    padding: 48px 0;
}
.phone, .website{
    display: flex;
    gap: 16px;
    align-items: center;
}
.icon img{
    width: 30px;
    height: 30px;
}